<fieldset>
<legend>OmniAuth Google Apps Plugin</legend>
<p>
  <label><%= l(:label_ga_domain) %>:</label>
  <%= text_field_tag 'settings[domain]', @settings['domain'], :size => 30 %>
  <br />
  <em><%= l(:label_example) %>: hyfn.com</em>
</p>
</fieldset>